@charset "UTF-8";
/*FUENTES*/
@font-face {
  font-family: 'Bebas Neue';
  src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
  font-weight: normal;
  font-size: normal;
  font-display: block; }

@font-face {
  font-family: 'Averta Regular';
  src: url(../fonts/Averta/AvertaDemoPE-Regular.otf);
  font-weight: normal;
  font-size: normal; }

/*ESTILOS GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #0f0f0f;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; }

/*HEADER*/
header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0; }

/*ARTICULO*/
article {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 30px;
  color: white;
  font-family: 'Averta Regular';
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr 8fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  grid-template-areas: ". titulo ." ". imagen ." ". texto ."; }

@media screen and (max-width: 576px) {
  article {
    font-size: 14px;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas: ". titulo ." ". imagen ." ". texto ."; } }

h1 {
  margin: 0;
  text-align: center;
  font: 500 26px "Bebas Neue";
  letter-spacing: 0.5px;
  grid-area: titulo; }

@media screen and (max-width: 576px) {
  h1 {
    font-size: 24px; } }

.contenedor-parrafo {
  grid-area: texto; }

/*FOOTER*/
footer {
  width: 100%;
  height: 70px;
  margin-top: auto;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer p {
    color: white;
    margin: 0px 10px;
    font-family: 'Averta Regular';
    text-align: center; }

@media screen and (max-width: 576px) {
  footer p {
    font-size: 14px; } }

/*ESTILOS INDEX*/
.body-index {
  background-color: black; }

/*SLIDER AUTOMATICO CON FOTOS DEL AUTOR*/
.slider-index li {
  list-style-type: none; }
  .slider-index li span {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: transparent;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    animation: slider-index 28s linear infinite 0s; }

.slider-index li:nth-child(1) span {
  background-image: url(../images/slider/slider-01.jpg); }

.slider-index li:nth-child(2) span {
  background-image: url(../images/slider/slider-02.jpg);
  animation-delay: 4s; }

.slider-index li:nth-child(3) span {
  background-image: url(../images/slider/slider-03.jpg);
  animation-delay: 8s; }

.slider-index li:nth-child(4) span {
  background-image: url(../images/slider/slider-04.jpg);
  animation-delay: 12s; }

.slider-index li:nth-child(5) span {
  background-image: url(../images/slider/slider-05.jpg);
  animation-delay: 16s; }

.slider-index li:nth-child(6) span {
  background-image: url(../images/slider/slider-06.jpg);
  animation-delay: 20s; }

.slider-index li:nth-child(7) span {
  background-image: url(../images/slider/slider-07.jpg);
  animation-delay: 24s; }

/*ANIMACION PARA SLIDER AUTOMATICO*/
@keyframes slider-index {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  5% {
    opacity: 1;
    animation-timing-function: ease-out; }
  15% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }

/*Con esta altura la imagen se ajusta bien al alto buscado porque tiene relacion 2x1*/
/*Se reduce el tamaño del carousel porque la imagen tiene relacion 3x2 y no se ajusta bien al alto buscado*/
/*Define align y justify de image/carousel en el grid*/
/*ESTILOS SECCIONES*/
.imagen-seccion {
  width: 60%;
  height: auto;
  display: block;
  align-self: center;
  justify-self: center;
  grid-area: imagen;
  border: solid 5px black; }

@media screen and (max-width: 576px) {
  .imagen-seccion {
    width: 70%; } }

.link-video-youtube {
  color: green;
  text-decoration: none; }
  .link-video-youtube:hover {
    color: darkgrey;
    transition: all 0.3s; }

/*HEADER*/
.header-seccion {
  background-color: black; }

/*ESTILOS TRABAJOS DE AUTOR - FOTOPERIODISMO*/
.carousel {
  width: 85%;
  border: solid 5px black;
  align-self: center;
  justify-self: center;
  grid-area: imagen; }

.carousel-reducido {
  width: 76%; }

.contenedor-carousel {
  width: 85%;
  background-color: black;
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  grid-area: imagen; }

@media screen and (max-width: 576px) {
  .carousel {
    width: 95%; }
  .carousel-reducido {
    width: 86%; }
  .contenedor-carousel {
    width: 95%; } }

.carousel-control-prev {
  opacity: 1; }

.carousel-control-next {
  opacity: 1; }

.carousel-control-prev-icon {
  font-weight: 900; }

/*ESTILOS CONTACTO*/
.article-contacto {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 30px;
  color: white;
  font-family: 'Averta Regular';
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr 6fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  grid-template-areas: ". titulo ." ". texto ."; }

ul.lista-contacto {
  margin: 0;
  padding: 0;
  grid-area: texto;
  align-self: center;
  justify-self: center; }
  ul.lista-contacto li {
    margin: 20px 0px;
    list-style-type: none;
    text-align: center; }
    ul.lista-contacto li a {
      text-decoration: none;
      color: white; }
      ul.lista-contacto li a:hover {
        color: darkgrey;
        transition: all 0.3s; }

.medio-contacto {
  font-family: 'Bebas Neue';
  font-size: 20px;
  letter-spacing: 1px; }

@media screen and (max-width: 576px) {
  .medio-contacto {
    font-size: 18px; } }

/*ESTILOS MODIFICADOS - NAVBAR BOOTSTRAP*/
/*Estilos barra de navegacion*/
.navbar-expand-lg {
  height: 60px;
  padding: 0;
  margin-bottom: 10px;
  background-color: transparent !important; }

/*Estilos marca*/
.navbar-brand {
  margin-left: 16px;
  font-family: 'Bebas Neue';
  font-size: 28px;
  letter-spacing: 0.5px; }
  .navbar-brand:hover {
    color: darkgray !important;
    transition: all 0.3s; }

@media screen and (max-width: 576px) {
  .navbar-brand {
    font-size: 26px; } }

/*Estilos items de navegacion*/
.nav-link {
  width: fit-content;
  padding: 5px !important;
  margin: 3px 8px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  letter-spacing: 0.5px; }
  .nav-link:hover {
    color: darkgray !important;
    transition: all 0.3s; }

.nav-item {
  width: fit-content; }

.navbar-nav {
  padding-left: 16px;
  align-items: center; }

.dropdown-menu {
  background-color: black;
  border: solid 1px white;
  min-width: 100%;
  width: 100% !important;
  text-align: center;
  padding: 0px; }

.dropdown-item {
  color: white;
  padding: 0px 3px;
  margin: 8px 0px;
  font-family: 'Bebas Neue';
  font-size: 18px;
  letter-spacing: 0.5px; }
  .dropdown-item:hover {
    color: darkgray;
    background-color: black;
    transition: all 0.3s; }

@media screen and (max-width: 576px) {
  .nav-link {
    font-size: 18px; }
  .dropdown-item {
    font-size: 16px; } }

/*Estilos del menu responsive cuando se oculta tras el boton*/
.text-bg-dark {
  background-color: black !important; }

.offcanvas-end {
  width: 50% !important; }

@media screen and (max-width: 400px) {
  .offcanvas-end {
    width: 100% !important; } }

.offcanvas-header {
  justify-content: center; }

/*Estilos del icono del boton de menu cuando se oculta*/
.navbar-toggler {
  border: solid 2px white; }

.navbar-toggler-icon {
  color: white !important;
  opacity: 1; }

.btn-close-white {
  color: white !important;
  opacity: 1;
  margin: 0 !important;
  padding: 0 !important; }
